SITE_TITLE=Blastsoft Studios Status
SITE_DESCRIPTION=Blastsoft Studios Website Status.
SITE_AUTHOR=Shane
SITE_HOME_URL=https://blastsoftstudios.com/
SITE_FAVICON=https://cdn.blastsoftstudios.com/ico/favicon-32x32.png
SITE_LOGO=https://blastsoftstudios.com/static/images/logo.png

DATA_DIR=/data
SETTING_SLEEP=120
SETTING_THEME=slate

STATUS_A_SITE=Blastsoft Studios Website|blastsoftstudios.com|https://blastsoftstudios.com/
STATUS_B_SITE=Discord Avatar Changer|blastsoftstudios.com/app/dac|https://dac.blastsoft.us/
